.rbc-header {
  /* background: #79b8e4; */
  color: #636874;
  padding: 10px;
  font-size: 12px;
}

.rbc-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
  z-index: 2;
  position: relative;
}

.rbc-background-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
}

.rbc-label {
  background-color: #FFF !important;
  transform: translateY(20px) !important;
  padding-top: 50px !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-timeslot-group {
  min-height: 100px !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: none !important;
}

.rbc-day-slot .rbc-time-slot:after {
  content: "";
  width: 100%;
  display: block;
}

.rbc-time-slot {
  /* background: #eaf3fa; */
  /* color: #2A2E34; */
  z-index: 1;
}

.rbc-addons-dnd-resizable {
  height: 100%;
  width: 100%;
}

.rbc-time-view {
  border: none !important;
}

.rbc-time-content {
  border-top: 1px solid #ddd !important;
}

.rbc-time-gutter .rbc-time-slot {
  margin-right: 20px !important;
}

.rbc-today {
  background-color: #f8dedf8c !important;
}

.rbc-current-time-indicator {
  background-color: #CE2529 !important;
}

.rbc-current-time-indicator::before {
  content: '';
  position: absolute;
  top: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #CE2529;
  transform: rotate(90deg);
}